* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
}

header {
  background-color: #eebefa;
  padding: 20px 8px;
}

.navbar {
  width: 40%;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.navbar .active {
  background-color: #862e9c;
  color: #fff !important;
}

.navbar a:link,
.navbar a:visited {
  text-decoration: none;
  /* background-color: #862e9c; */
  color: #495057;
  padding: 8px 10px;
  border-radius: 20px;
}

.navbar a:active,
.navbar a:hover {
  background-color: #862e9c;
  color: #fff;
}

.nav-item {
  font-size: 14px;
  font-weight: 600;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* display: none; */
}

.inputBox {
  margin-bottom: 16px;
  /* padding: 12px 0; */
  position: relative;
}

.inputBox span {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  color: #868e96;
}

.inputBox input {
  width: 100%;
  padding: 10px 20px;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid #862e9c;
  background: transparent;
  border-radius: 30px;
  margin-bottom: 18px;
}

.inputBox.success input {
  border-color: #2ecc71;
}

.inputBox.error input {
  border-color: #e74c3c;
}

.inputBox i {
  position: absolute;
  top: 35px;
  right: 10px;
  visibility: hidden;
  /* background-color: #e74c3c; */
}

.inputBox.success i.fa-circle-check {
  /* height: 10px; */
  visibility: visible;
  color: #2ecc71;
}

.inputBox.error i.fa-circle-exclamation {
  visibility: visible;
  color: #e74c3c;
}

.inputBox small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.inputBox.error small {
  color: #e74c3c;
  visibility: visible;
}

.inputBox input[type='submit'] {
  margin-top: 32px;
  background: #862e9c;
  color: #fff;
  cursor: pointer;
}

.inputBox input[type='submit']:hover {
  background: #ae3ec9;
}

#view-table {
  margin: auto;
  margin-top: 90px;
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

#view-table thead tr {
  background-color: #862e9c;
  text-align: left;
  font-weight: bold;
  color: #fff;
}

#view-table th,
#view-table td {
  padding: 14px 53px;
}

#view-table tbody tr {
  border-bottom: 1px solid #ddd;
}

#view-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

#view-table tbody tr:last-of-type {
  border-bottom: 2px solid #862e9c;
}

.headings {
  padding: 8px 24px;
  font-size: 18px;
  color: #fff;
}

.msg {
  /* background-color: #2ecc71; */
  font-size: 24px;
  color: #635f5f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 86px;
}
